.header {
    background: url("../images/background.JPG");
    background-repeat: no-repeat;
    background-position: center; 
    padding-bottom: 10%;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}
.headertext {
    color: black;
    font-size: 300%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 7%;
    padding-left: 11%;
}
.titletext {
    margin-top: 1%;
    color: white;
    font-size: 199%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    float: left;
    padding-left: 15%;
    margin-bottom: 2%;
}
.twitchframe {
    padding-top: 3%;
    float: right;
    margin-right: 13%;
    margin-bottom: 5%;
}
a {
    color: white;
}
.Musictext {
    margin-top: 7%;
    color: white;
    font-size: 150%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10%;
}
.copyright {
    float: right;
    color: white; 
    margin-top: 69mm;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
}
.copyrightsign {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.version {
    float: right; 
    color: white; 
    margin-top: 69mm;
    margin-right: 3mm;
}
.borderbox {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1887px;
}
.centeritems {
    text-align: -webkit-center;
}
.bottomtext {
    margin-bottom: 2%;
}
@media screen and (max-width: 1100px) {
    .titletext {
        margin-right: 15%;
    }
}
@media screen and (max-width: 959px){
    .copyrighttext {
        font-size: x-large;
        text-align: left;
    }
}
@media screen and (max-width: 810px) {
    .twitchframe  {
        width: 73%;
    }
}
@media screen and (max-width: 640px){
    .copyrighttext {
        font-size: larger;
    }
    .headertext {
        font-size: 231%;
    }
}
@media screen and (max-width: 320px){
    .borderbox{
        display: none;
    }
    body {
        background:url("../images/Sizeunvalidmessage.png")
    }
}